.search-query {
	width: 400px;
	height: 40px;
	margin: 0 auto;
}
#intro {
	margin-left: 90px;
}
.form-container {
	width: 50%;
	margin-left: 40%;
}
.chat-text {
	font-family: Arial;
	font-size: 35px;
	color: blue;
}